body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

h1 {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 80vw;
  max-height: 40vh;
  border-radius: 50%;
  margin-bottom: 20px;
}

.telegram-link {
  margin-top: 20px;
}

.telegram-link img {
  max-width: 5vw;
  border-radius: 0;
}

.description {
  text-align: center;
  font-size: calc(8px + 1vmin);
}
